$primaryColor: #f3fbfd;
$headerColor: #00344b;
$subtitleColor: #656565;
$textColor: #00445c;
$dangerColor: rgb(158, 32, 32);
$buttonTextColor: #f3fbfd;
$buttonColor: #005b74;

$smallLaptop: 1000px;
$tablet: 850px;
$smallTablet: 670px;
$largeMobile: 450px;
$smallMobile: 350px;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	// @media only screen and (min-width: $smallLaptop) {
	// 	font-size: 55%;
	// }
	@media only screen and (min-width: 1920px) {
		font-size: 70%;
	}
	@media only screen and (min-width: 2560px) {
		font-size: 100%;
	}

	@media only screen and (max-width: $smallLaptop) {
		font-size: 55%;
	}
	@media only screen and (max-width: $tablet) {
		font-size: 50%;
	}
	@media only screen and (max-width: $largeMobile) {
		font-size: 45%;
	}
	@media only screen and (max-width: $smallMobile) {
		font-size: 40%;
	}
}

body {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Poppins', sans-serif;
	color: $textColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
}

.navbar {
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 10rem;
	background-color: $primaryColor;
	&.white {
		background-color: white;
	}
	@media only screen and (max-width: $tablet) {
		padding: 2rem 5rem;
	}

	&-logo-menu {
		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				padding: 0rem 1rem;
			}
			&:link,
			&:visited {
				text-decoration: none;
			}
			color: $headerColor;
			& h1 {
				font-size: 3rem;
			}
		}
		.menu {
			display: none;
			z-index: 5;
			@media only screen and (max-width: $tablet) {
				display: block;
				position: fixed;
				top: 3rem;
				right: 3rem;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&-items {
		&-list {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			@media only screen and (max-width: $tablet) {
				height: 100vh;
				width: 100%;
				position: fixed;
				top: 0;
				left: 0;
				background-color: $headerColor;
				justify-content: flex-start;
				padding-top: 20%;
				flex-direction: column;
				clip-path: circle(10px at 105% -10%);
				transition: all 1s ease-out;
				pointer-events: none;
				z-index: 4;
			}
			&.open {
				@media only screen and (max-width: $tablet) {
					clip-path: circle(2000px at 95% -10%);
					pointer-events: all;
				}
			}
			&-item {
				list-style: none;
				padding: 1rem 2rem;
				border-radius: 1000rem;
				@media only screen and (max-width: $tablet) {
					margin: 2rem;
					color: $primaryColor;
				}
				& .item {
					&:hover {
						cursor: pointer;
					}
				}
				a {
					text-decoration: none;
					color: $textColor;
					@media only screen and (max-width: $tablet) {
						color: $primaryColor;
					}
				}
				&.logout {
					margin: 0rem 2rem;
					background-color: $dangerColor;
					a {
						color: $buttonTextColor;
					}
				}
				&.login {
					margin: 0rem 2rem;
					background-color: $buttonColor;
					a {
						color: $buttonTextColor;
					}
				}
			}
		}
	}
}

.header {
	padding: 0rem 15rem;
	background-color: $primaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	@media only screen and (max-width: $tablet) {
		padding: 0rem 5rem;
	}
	@media only screen and (max-width: $smallTablet) {
		flex-direction: column;
		height: 100vh;
		padding: 0rem 3rem;
	}
	&-description {
		// align-self: stretch;
		width: 50%;
		@media only screen and (max-width: $smallTablet) {
			width: 90%;
			text-align: center;
		}
		.text {
			.text-large {
				font-size: 4.5rem;
				color: $headerColor;
				line-height: 1;

				width: 65%;
				margin-bottom: 3.2rem;
				@media only screen and(max-width: $tablet) {
					font-size: 3rem;
				}
				@media only screen and (max-width: $smallTablet) {
					width: 100%;
				}
			}
			.text-medium {
				font-size: 2rem;
				color: $subtitleColor;
				font-family: 'Poppins', sans-serif;
				font-weight: 400;
				width: 70%;
				margin-bottom: 3.2rem;
				@media only screen and(max-width: $tablet) {
					font-size: 1.8rem;
				}
				@media only screen and (max-width: $smallTablet) {
					width: 100%;
					margin-bottom: 2rem;
				}
			}
		}
	}
	&-hero {
		width: 50%;
		@media only screen and (max-width: $smallTablet) {
			width: 70%;
			padding: 3rem 0rem;
		}
		&-svg {
			width: 100%;
			height: auto;
		}
	}
}

.button {
	&.call-to-action {
		padding: 3rem 0rem;
		a {
			&:link,
			&:visited {
				text-decoration: none;
				color: $buttonTextColor;
			}
			background-color: $buttonColor;
			padding: 1.5rem 5rem;
			border-radius: 100rem;
			font-size: 2rem;
		}
		&.pricing-button {
			a {
				@media only screen and (max-width: $smallMobile) {
					font-size: 1.6rem;
					padding: 1.5rem 2rem;
				}
			}
		}
	}
	&.survey {
		&:active {
			outline: none;
		}
		border: none;
		padding: 1.5rem 3rem;
		font-size: 2rem;
		background-color: $buttonColor;
		color: $buttonTextColor;
		border-radius: 10000px;

		&:link,
		&:visited {
			padding: 1rem 3rem;
			text-decoration: none;
		}

		&:hover {
			cursor: pointer;
		}
		&-cancel {
			&:active {
				outline: none;
			}
			&:link,
			&:visited {
				padding: 1rem 3rem;
				text-decoration: none;
			}
			&:hover {
				cursor: pointer;
			}
			background-color: transparent;
			border: none;
			padding: 1.5rem 3rem;
			font-size: 2rem;
			border: .1rem solid $buttonColor;
			color: $buttonColor;
			border-radius: 10000px;
		}
	}
}

.about {
	margin: 5rem 0rem;
	padding: 7rem 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	@media only screen and (max-width: $smallMobile) {
		padding: 5rem;
	}
	&-header {
		margin-bottom: 4rem;
		h1 {
			font-size: 3.5rem;
		}
	}
	&-card-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		gap: 3rem;
		@media only screen and (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media only screen and (max-width: $largeMobile) {
			grid-template-columns: 1fr;
		}
		.card {
			height: 45rem;
			padding: 3rem 2rem;

			border-radius: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			@media only screen and (max-width: $tablet) {
				&:nth-child(3) {
					grid-column: 1/3;
				}
			}
			@media only screen and (max-width: $largeMobile) {
				&:nth-child(3) {
					grid-column: auto;
				}
			}

			&-title {
				h3 {
					text-align: center;
					font-size: 2.4rem;
					font-weight: 600;
				}
			}
			&-body {
				text-align: center;
			}
		}
	}
}

.box-shadow {
	box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.pricing {
	margin: 10rem 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	@media only screen and (max-width: $tablet) {
		margin: 10rem 5rem;
	}
	@media only screen and (max-width: $smallTablet) {
		flex-direction: column;
		text-align: center;
		margin: 10rem 1rem;
	}
	&-svg {
		width: 100%;
		@media only screen and (max-width: $smallTablet) {
			width: 60%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&-description {
		padding: 0rem 5rem;

		.header-text {
			margin: 3rem 0rem;
			h1 {
				font-size: 4rem;
			}
		}
		.text {
			font-size: 1.8rem;

			div {
				margin: 2.5rem 0rem;
				span {
					font-weight: 600;
				}
			}
		}
	}

	&-cards {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10rem 5rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		@media only screen and (max-width: $smallTablet) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 45rem);
			margin: 10rem 2rem;
		}
		.card {
			margin: 2rem;

			height: 35rem;
			background-color: #daf6fd;
			border-radius: 1rem;
			padding: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			&-header {
				font-size: 3rem;
			}
			&-body {
				list-style: none;
				font-size: 2rem;
				&-item {
					margin: 2rem 0rem;
					&.strike-through {
						text-decoration: line-through;
						color: $subtitleColor;
					}
				}
			}
		}
	}
}

.footer {
	width: 100%;
	background-color: $headerColor;
	color: $primaryColor;
	padding: 4rem 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dashboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	&-header {
		padding: 0rem 3rem;
		align-self: flex-start;

		h1 {
			font-size: 4.5rem;
		}
		h3 {
			font-size: 3rem;
		}
	}
	.add-survey-button {
		position: fixed;

		bottom: 0;
		right: 0;

		margin: 3rem;

		&:hover {
			cursor: pointer;
		}
		a {
			background-color: $headerColor;
			border-radius: 50%;
			height: 6rem;
			width: 6rem;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}
}
.survey {
	&-form-container {
		width: 100%;
		height: 60vh;
		display: flex;
		justify-content: center;
		align-self: center;
	}
	&-form {
		margin-top: 10rem;
		width: 35%;
		@media only screen and (max-width: $tablet) {
			width: 80%;
		}
		.input-container {
			position: relative;
			input {
				width: 100%;
				padding: 1rem 0;

				color: $textColor;
				margin-bottom: 3rem;
				border: none;
				border-bottom: .1rem solid $textColor;
				outline: none;
				background: transparent;
				font-size: 2rem;
				&:focus ~ label,
				&:valid ~ label {
					top: -20px;
					left: 0;
					color: $subtitleColor;
					font-size: 1.3rem;
				}
			}
			label {
				position: absolute;
				top: 0;
				left: 0;
				padding: 1rem 0;

				color: $headerColor;
				pointer-events: none;
				transition: all .5s ease;
			}
		}
		.button-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			@media only screen and (max-width: $smallMobile) {
				flex-direction: column;
				justify-content: flex-start;
				.button {
					margin: 1rem 0rem;
					&:first-child {
						@media only screen and (max-width: $smallMobile) {
							width: 100%;
							order: 2;
						}
					}
					&:last-child {
						@media only screen and (max-width: $smallMobile) {
							order: 1;
							width: 100%;
						}
					}
				}
			}
		}
	}

	&-review {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.review-box {
			width: 50%;
			.box {
				padding: 1rem 4rem;
				.title {
					font-size: 2rem;
				}
				.value,
				.list {
					padding: .5rem 2rem;
				}
			}
			.button-list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}
		}
	}

	&-list {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin: 2rem 2rem;
	}

	&-item {
		width: 90%;
		border: 2px solid $headerColor;
		border-radius: 1rem;
		padding: 2rem 3rem;
		margin: 3rem 0rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.title {
			font-size: 2rem;
		}
		.subject {
			font-weight: 400;
		}
		.bar-holder {
			align-self: center;
			margin: 2rem;
			width: 80%;
			background-color: rgba($subtitleColor, 0.5);

			border-radius: 50rem;
			.bar {
				background-color: $headerColor;
				border-radius: 50rem;
				height: 1rem;
			}
		}
		.legends {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&-item {
				padding: 1rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				color: $headerColor;
				.circle {
					height: 1.2rem;
					width: 1.2rem;
					background-color: $headerColor;
					border-radius: 50%;
					margin: 1rem;
				}
				&:last-child {
					color: $subtitleColor;
					.circle {
						background-color: $subtitleColor;
					}
				}
			}
		}
	}
}

.loading {
	&-page {
		height: 80vh;
		width: 100%;
		font-size: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-spinning {
		border: .5rem solid transparent; /* Light grey */
		border-top: .5rem solid $headerColor; /* Blue */
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.error-page {
	height: 80vh;
	width: 100%;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stripe {
	&-backdrop {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.267);
		display: flex;
		justify-content: center;
		align-items: center;

		&.hidden {
			display: none;
		}
	}
	&-container {
		padding: 5rem 8rem;
		background-color: white;
		border-radius: 5px;
		width: 40%;
	}
	&-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&-button {
		padding: 1rem 1.5rem;
		background-color: gray;
		outline: none;
		border: none;
		color: white;
		font-family: 'Lato';
		font-size: 2rem;
		width: 100%;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
	}
	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-text {
			font-size: 2.5rem;
			font-weight: 600;
		}
	}
	&-close {
		&:hover {
			cursor: pointer;
		}
	}
}

.StripeElement {
	width: 100%;
	padding: 2.5rem 1rem;
}
