$primaryColor: #f3fbfd;
$headerColor: #00344b;
$subtitleColor: #656565;
$textColor: #00445c;
$dangerColor: rgb(158, 32, 32);
$buttonTextColor: #f3fbfd;
$buttonColor: #005b74;

$smallLaptop: 1000px;
$tablet: 850px;
$smallTablet: 670px;
$largeMobile: 450px;
$smallMobile: 350px;